@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1 style="text-align:center"><span>@Html.ActionLink("Outfits", "Index", "Outfits")</span></h1>

</div>

<div class="row">
    <div class=" col-sm-12 col-md-3">

        <h2 style="text-align:center"><span>@Html.ActionLink("Tops", "Index", "Tops")</span></h2>
    </div>
    <div class="col-sm-12 col-md-3">

        <h2 style="text-align:center"><span>@Html.ActionLink("Bottoms", "Index", "Bottoms")</span></h2>
    </div>
    <div class="col-sm-12 col-md-3">

        <h2 style="text-align:center"><span>@Html.ActionLink("Shoes", "Index", "Shoes")</span></h2>
    </div>
    <div class="col-sm-12 col-md-3">

        <h2 style="text-align:center"><span>@Html.ActionLink("Accesories", "Index", "Accossories")</span></h2>
    </div>

</div>